@charset "UTF-8";
:root {
  --color-: #;
  --color-: #;
  --bg-: #;
  --bg-: #;
}

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
.section10 {
  position: relative;
}

.map {
  position: absolute;
  top: 37.5%;
  left: 5.8%;
  width: 88.4%;
  margin: 0 auto;
  aspect-ratio: 884/490;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.button__wrapper {
  position: absolute;
  bottom: 6.2%;
  left: 6%;
  width: 88%;
}

.button__wrapper.float {
  display: none;
}
@media screen and (max-width: 480px) {
  .button__wrapper.float {
    display: block;
    position: fixed;
    bottom: 1%;
    left: 2.5%;
    width: 95%;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
  }
}

.button__wrapper.float.show {
  opacity: 1;
}

.cta__button {
  text-align: center;
  text-decoration: none;
  color: #2194E0;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.cta__button::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-animation: shine-pc 6.5s ease-in-out infinite;
          animation: shine-pc 6.5s ease-in-out infinite;
}
@media screen and (max-width: 480px) {
  .cta__button::before {
    -webkit-animation: shine-mobile 6.5s ease-in-out infinite;
            animation: shine-mobile 6.5s ease-in-out infinite;
  }
}

/* ✨スマホ用✨ */
@-webkit-keyframes shine-mobile {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  18% {
    -webkit-transform: skewX(-45deg) translateX(900%);
            transform: skewX(-45deg) translateX(900%);
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    -webkit-transform: skewX(-45deg) translateX(900%);
            transform: skewX(-45deg) translateX(900%);
    opacity: 0;
  }
}
@keyframes shine-mobile {
  0% {
    -webkit-transform: skewX(-45deg) translateX(-100%);
            transform: skewX(-45deg) translateX(-100%);
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  18% {
    -webkit-transform: skewX(-45deg) translateX(900%);
            transform: skewX(-45deg) translateX(900%);
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    -webkit-transform: skewX(-45deg) translateX(900%);
            transform: skewX(-45deg) translateX(900%);
    opacity: 0;
  }
}
/* ✨PC用✨ */
@media screen and (min-width: 481px) {
  @-webkit-keyframes shine-pc {
    0% {
      -webkit-transform: skewX(-45deg) translateX(-100%);
              transform: skewX(-45deg) translateX(-100%);
      opacity: 0;
    }
    4% {
      opacity: 1;
    }
    18% {
      -webkit-transform: skewX(-45deg) translateX(1600%);
              transform: skewX(-45deg) translateX(1600%);
      opacity: 1;
    }
    22% {
      opacity: 0;
    }
    100% {
      -webkit-transform: skewX(-45deg) translateX(1600%);
              transform: skewX(-45deg) translateX(1600%);
      opacity: 0;
    }
  }
  @keyframes shine-pc {
    0% {
      -webkit-transform: skewX(-45deg) translateX(-100%);
              transform: skewX(-45deg) translateX(-100%);
      opacity: 0;
    }
    4% {
      opacity: 1;
    }
    18% {
      -webkit-transform: skewX(-45deg) translateX(1600%);
              transform: skewX(-45deg) translateX(1600%);
      opacity: 1;
    }
    22% {
      opacity: 0;
    }
    100% {
      -webkit-transform: skewX(-45deg) translateX(1600%);
              transform: skewX(-45deg) translateX(1600%);
      opacity: 0;
    }
  }
}